<div class="container">
  <h3>Clients</h3>
  <form ng-submit="saveNewClient()">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th><th>Key</th><th>Secret</th><th>Actions</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in clients">
          <td>{{ client.name }}</td>
          <td>{{ client.key }}</td>
          <td>{{ client.secret }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr ng-show="!isAdding">
          <td colspan="4" class="text-center"><a href="" type="button" ng-click="isAdding = true" class="form-control btn btn-default text-center">+ New Client</a></td>
        </tr>
        <tr ng-show="isAdding" ng-model="newClient">
          <td><input type="text" class="form-control" ng-model="newClient.name" placeholder="Client Name"></input></td>
          <td></td>
          <td></td>
          <td>
            <input type="submit" class="btn btn-default" value="Save"></input>
            <button class="btn btn-default" ng-click="newClient = null; isAdding = false">Cancel</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
